.feedbackStatistics {
    display: flex;
    padding-left: 50px;
   color: #00FFFF;
}

.feedbackPositive { 
    color: rgb(32, 233, 115);
}
.Notification {
    color: rgb(243, 228, 14);
    font-size: 15px;
}
.statistics {
    color: rgb(22, 156, 209);
    
}